.menulateral{
  border: solid;
  border-color:#8c8c8c85;
  border-radius:3%;
  padding:1.5%;
  max-width:220px;
  max-height:560px;
}

.bt_opcoes{
  width: 170px;
}
.sub_bt_opcoes{
  width: 160px;
}
.central{
  margin: 0, auto !important; 
}
a, a:hover{
  text-decoration: none;
}

a{
  color: black;
}

a:hover{
  color: white;
}

.nav_bar{
  border-bottom: solid;
  border-color: rgba(100, 100, 100, 0.494);
}

.div_resultados, .row{
  max-width: 1400px;
}
