.removerLink{
    color:#ef6c00  ;
    text-decoration: none;
    font-size: 25px;
}
.removerLink:hover{
    color:#ef6c00  ;
    text-decoration: none;
    font-size: 25px;
}
.navbarPrincipal{
    font-size: 35px;
}

.removerlinkLogo:hover{
    color:#ef6c00  ;
    text-decoration: none;
    font-size: 35px;
}